.slider{
	overflow: hidden;
}
ul{
	list-style: none;
	width: 20000px;
	padding-left: 0;
	position: relative;
}
li{
	position: absolute;
	list-style: none;
}
span{
	font-size: 26px;
	cursor: pointer;
}