.slider{
	overflow: hidden;
	height: 300px;
}
ul{
	list-style: none;
	/* width: 20000px; */
	padding-left: 0;
	position: relative;
	margin: 0 auto;
	height: 100%;
}
li{
	position: absolute;
	list-style: none;
}
span{
	font-size: 26px;
	cursor: pointer;
}
.arrows{
	position: absolute;
	bottom: 0;
	font-size: 80px;
}
